<header>
   
    <div class="search">
        <input type="text"   style="width: 450px; height: 35px"  name="search" placeholder="Search...." />
        <button type="button" class="find" ><i class="fas fa-search"></i></button>
    </div>
    <div id="end">
        
        <div id="mega-menu"><i class="fas fa-upload"></i></div>
        <div id="share"><i class="fas fa-th"></i></div>
        <div id="noti"><i class="fas fa-bell"></i></div>
        <div id="user"><i class="fas fa-user-circle"></i></div>

    </div>

</header>

            
            
