<h2 style="color:red;">Youtube </h2>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div style="background-image: url('https://picsum.photos/id/337/1500/2000');">
<div class="container">
    <h2> User login</h2>
    <form #loginform="ngForm" (ngSubmit)="loginUser()">
        <small class="text-danger">{{msg}}</small>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control"  placeholder="Enter email" name="email" [(ngModel)]="user.emailid" required 
         #email=ngModel
        [class.is-invalid]="email.invalid && email.touched">
        <br>
        <!--<small class="text-danger" [class.d.none]="email.valid || email.untouched">Emaiid is required</small>-->
       <div *ngIf="email.errors && (email.invalid&&email.touched)">
           <small class="text-danger" *ngIf="email.errors.required" >email id is required field</small>
          
       </div>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control"  placeholder="Enter password" name="password" [(ngModel)]="user.password" required  
        #password=ngModel
        [class.is-invalid]="password.invalid && password.touched">
        <br>
        <!--<small class="text-danger" [class.d.none]="email.valid || email.untouched">Emaiid is required</small>-->
       <div *ngIf="password.errors && (password.invalid&&password.touched)">
           <small class="text-danger" *ngIf="password.errors.required" >password is required field</small>
         </div>
      <div class="checkbox">
        <label><input type="checkbox" name="remember"> Remember me</label>
      </div>
       <button [disabled]="loginform.form.invalid" type="submit" class="btn btn-info">login</button>
       <button>
       <small class="float-right" (click)="gotoregistrationform()">New user ?register here</small>
       </button>

    
</div>

  
